/*start variables*/
:root{
    --main-color: #CBCBCC;
    --main-transition:.3s ease-in-out;
    --main-padding:40px;
    --border-radius: 25px;
    --main-scale:scale(1.01);
    --main-margin-section:5px;
}
/*end variables
/* start globale rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
   .main-header{
    font-size: 2.5rem;
    color: #6E6E73;
    padding-left: 220px;
    margin-left: 15px;
  }
  @media (max-width: 1300px) {
    .main-header{
      padding-left: 57px;
    }
  }
  @media (max-width: 992px) {
    .main-header{
      padding-left: 80px;
    }
  }
  @media (max-width: 767px) {
    .main-header{
      max-width: 450px;
      font-size: 2rem;
      padding-left: 5px;
    }
    
  }
  @media (max-width: 350px) {
    .main-header{
      max-width: 250px;
      font-size: 1.8rem;
      padding-left: 5px;
    }
  }
   .main-header span{
     color: #000;
  }
  a{
    display: block;
    color: var(--main-color);
  }
  body{
    background-color: #F5F5F7;
    overflow-x: hidden;
  }
html{
  overflow-x: hidden;
  font-size: .9rem;
}
  .container{
    padding-left:15px;
    padding-right:15px;  
    margin-left: auto;
    margin-right:auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
        width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      padding-left:25px;
      padding-right:25px;
      width: 970px;
    
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /*product container for cursole*/
   .product-container{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-left: 220px;
    scroll-behavior: smooth;
    transition: scroll var(--main-transition);
  }
  @media (max-width: 1300px) {
    .product-container{
      padding-left: 57px;
    }
  }
  @media (max-width: 992px) {
    .product-container{
      padding-left: 80px;
    }
  }
  @media (max-width: 767px) {
    .product-container{
      padding-left: 5px;
    }
  }
  .product-container::-webkit-scrollbar{
    display: none;
  }
  .help .container::-webkit-scrollbar{
    display: none;
  }

  /*arrow*/
  section {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    
  }
  .arrow{
    position: absolute;
    z-index: 500;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    background-color:rgba(0 0 0 /.4);
    color:#fff;
    font-size: 1.8rem;
    cursor: pointer;
    transition: scale var(--main-transition);
    scale: 1;
  }
  section .left{
    left: 20px;
  }
  section .right{
    right: 20px;
  }
@media (max-width:767px) {
  .left,
  .right{
    display: none;
  }
}
/*start with nav bar*/
header{
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color:rgba(0 0 0 /.8);
  backdrop-filter: blur(2rem);
  height: 50px;
  transition: height var(--main-transition);
}
header nav{
  max-height: 50px;
}
header .container nav .nav-list-mobile{
  display: none;
}
  header .container .nav .nav-list{
    color: var(--main-color);
    align-items: center;
    justify-content: space-between;
    margin: 0 -1px;
  }
 
  .nav-list-larger{
    display: flex;
   }
  .nav-item .nav-link-apple{
    color: #fff;
    font-size: 1.4rem;
  }
  .nav-item .nav-link {
    transition: color var(--main-transition);
  }

  .nav-item .nav-link:hover {
    color: #fff;
  }
  
  .nav-item .nav-link-bag{
    font-size: 1.2rem;
  }
 
 @media (max-width:767px) {
  header .container nav .nav-list-mobile{
    display: flex;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
    z-index: 1500;
    padding-left: 20px;
  }
  .mobile-menu span{
    display: block;
    height: 1px;
    width: 1.5rem;
    background-color:#ccc;
    position: absolute;
  }
  .mobile-menu span:nth-child(1){
    margin-bottom:10px;
  }
  .mobile-menu span:nth-child(2){
    margin-bottom:-10px;
  }
  .active .line-top{
    margin-bottom: 0;
    transform: rotate(45deg) translate(3px,8px);
    transition: transform var(--main-transition);

  }
  .active .line-bottom{
    transform: rotate(-45deg) translate(-2px,-4px);
    transition: transform var(--main-transition);
  }
  header.active{
    height: 100vh;
    background-color: #000;
    transition: height var(--main-transition);
  }
  @media (min-width:767px) {
    header.active{
     height: 0px;
    }
  }
  .active .nav-link-bag{
    opacity: 0;
  }
  .nav-list-larger .nav-link-apple{
    display: none;
  }
  .nav-list-larger .nav-link-bag{
    display: none;
  }
  header .container .nav .nav-list-larger{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10rem 2rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity var(--main-color);
  }
 .nav-list-larger .nav-item .nav-link{
    margin-bottom: 20px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 540;
  }
   .nav-list-larger .nav-item:not(:last-child) .nav-link::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: .5px;
    background-color: #444;
  }
  }
/*start contact*/
.contact{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.contact .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width:767px) {
  .contact .container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
}
.contact .container h1{
   margin-bottom: 25px;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #6E6E73;
    line-height: 1.1;
    min-width: 250px;
    max-width:250px;
    margin-top: 0;
}
@media (min-width:380px) {
  .contact .container h1{
    font-size: 3rem;
    text-align: left;
    max-width:750px;
  }
}
@media (min-width:767px) {
  .contact .container h1{
    font-size: 4rem;
    text-align: left;
    max-width:750px;
  }
}
.contact .container h1 span{
    color: #000;
}
.contact .container .assistance{
   text-align: center;
min-width: 15rem;
}
.contact .container .assistance .assistance-help .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact .container .assistance .assistance-help .text h4{
 font-size: 1.2rem;
 font-weight: 550;
 margin-bottom: 2px;
}
.contact .container .assistance .assistance-help .text a{
  color: #0066CC;
  font-size: 1.35rem;
  cursor: pointer;
}
.contact .container .assistance .assistance-help .text a span{
  color: #0066CC;
  font-size: 1rem;
}
.contact .container .assistance .assistance-help{
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
 }

.contact .container .assistance .assistance-help img,
.contact .container .assistance .assistance-store img{
  width: 25px;
  border-radius: 50%;
  object-fit:cover;
  margin-right: 15px;
  position: relative;
  top: -2px;
}
/*end contact*/
/*start products sec3*/
.Carousel .product-container .product{
 min-width: 120px;
 height: 150px;
  aspect-ratio: 1/1;
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .Carousel .product-container .product{
    min-width: 100px;
    margin: 0 5px;
  }
}


.Carousel .product-container .product img{
  width: 80%;
  height: 70%;
}
.product-container .product a{
 font-size: 1.2rem;
 font-weight: bold;
 color: rgba(0 0 0 /.9);
 text-align: center;
 margin-top: 20px;
} 

/*start sales*/
.sales{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.sales .product-container .sale {
  margin-right: 20px;
  width: 390px;
  height: 520px;
  background-color: #000;
  border-radius:15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.09);
  transition: var(--main-transition);
}
.sales .product-container .sale:hover {
  transform: var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);}


.sales .product-container .sale .text{
  width: 390px;
  padding-left: 30px;
  flex-basis: 20%;
}
.sales .product-container .sale .text span{
  display: block;
  margin-bottom: -10px;
}
.sales .product-container .sale .text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.sales .product-container .sale .text p {
  font-size: 1.3rem;
  font-weight: 550;
  padding-right: 5px;
}
.sales .product-container .sale .img-price{
  width: 100%;
  height: 60%;
  position: relative;
}
.sales .product-container .sale .img-price img{
  width: 100%;
  height: 100%;
  position: absolute;

}

.sales .product-container .sale:nth-child(2),
.sales .product-container .sale:nth-child(5),
.sales .product-container .sale:nth-child(6),
.sales .product-container .sale:nth-child(7),
.sales .product-container .sale:nth-child(8){
  color:#000;
  background-color: #fff;
  font-size: .9rem;
}

.sales .product-container .sale:nth-child(9){
  background-color:#161616;
}
/*end sales*/
/*start help sec*/
.help{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding) ;
}
.help .container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 480px;
  overflow-x: auto;
}
.help .container .help-Mann{
  background-color: #fff;
  border-radius: var(--border-radius);
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  cursor: pointer;
  transition: transform var(--main-transition);
  width: 465px;
  min-width: 350px;
}
.help .container .help-Mann:hover{
  transform:var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}
.secondary-heading{
  font-size: 2.3rem;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  max-width: 80%;
}
.help .container .help-Mann .image{
 width: 90%;
 margin-right: auto;
 margin-left: auto;
 height: 80%;
 position: relative;
 top: -26px;
}
.help .container .help-Mann .image img{
  width: 100%;
  height: 100%;
}

.help .container .other-help {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}
@media (min-width:760px) {
  .help .right{
   display: none;
  }
}
.help .container  .other-help .help1{
  margin-bottom: 15px;
  background-color: #fff;
  height: 50%;
  position: relative;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform var(--main-transition);
  min-width: 630px;
}
.help .container  .other-help .help1:hover{
  transform: var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}
.help .container  .other-help .help1 img{
  width: 100%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
}
.help .container  .other-help .help2{
  background-color:#efe3f95c;
  margin-top: 10px;
  display: flex;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform var(--main-transition);
  min-width: 630px;
}
.help .container  .other-help .help2:hover{
  transform: var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}
.help .container  .other-help .help2 img{
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
/* start features */
.features{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.features .product-container{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width:auto;
}
.features .feature{
  min-width: 305px;
  aspect-ratio: 1/.78;
  background-color: #FFFFFF;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  transition: var(--main-transition);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.09);
  cursor: pointer;
  margin-right: 20px;
}
.features .feature:hover{
  transform: var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}
.features .feature i{
  font-size: 2.5rem;
}
.features .feature h1{
margin-bottom: 0;
max-width: 80%;
}
/* end features */
/* start accessiors */
.accessories{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.sepcial-box{
 width: 300px;
 transition: var(--main-transition);
 border-radius: var(--border-radius);
 max-width: 320px;
margin-right: 120px;
}
.special-img{
  position: relative;
  width: 300px;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.sepcial-box:hover{
  transform: var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.09);

}
.special-img img{
  border-radius: var(--border-radius);

}
.headers{
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-weight: bold;
}
.box{
  background-color: #ffffff;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  padding-bottom: 50px;
  cursor: pointer;
  transition: var(--main-transition);
  margin-right: 20px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);

}
.box:hover{
  transform:var(--main-scale);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}
.box img{
  width: 250px;
  margin-top: 70px;
}
.box .colors{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.box .colors li{
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.box .colors li:nth-child(1){
  background-color: red;
}
.box .colors li:nth-child(2){
  background-color: blue;
}
.box .colors li:nth-child(3){
  background-color: green;
}
.box .colors li:nth-child(4){
  background-color: black;
}
.box .colors li:nth-child(5){
  background-color: orange;
}
.descprition{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.descprition p{
  font-size: 1.8rem;
  font-weight: bold;
}
.descprition span:first-child{
  color: red;
  margin-bottom: 5px;
}
.descprition span:last-child{
  font-size: 1.3rem;
  font-weight: normal;
}

/* end accessiors */

/*start products more*/
.products{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.products .product-container .box-product{
  position: relative;
  min-width: 450px;
  min-height: 500px;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.products .product-container .box-product img{
  height: 480px;
  width: 100%;
 border-radius: var(--border-radius);
 object-fit: cover;
 transition: var(--main-transition);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
}

.products .product-container .box-product:hover img{
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  transform:var(--main-scale);
}

.products .product-container .box-product .context{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    top: 40px;
    left: 30px;
    width: 75%;
 }
.products .product-container .box-product .context h1{
  font-size: 2.4rem;
  margin: 10px 0;
}
.products .product-container .box-product .context span{
  display: block;
  font-size:1.2rem;
}
.products .product-container .box-product .context p{
   font-size: 1.4rem;
}
/*end products more*/
/*start special sec*/
.special-stores{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.box-special{
  position: relative;
  height: 450px;
 min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.box-special img{
  height: 95%;
  width: 95%;
  border-radius: var(--border-radius);
  transition: var(--main-transition);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
}
.box-special:hover img{
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  transform:var(--main-scale);
}
.box-special .text-special{
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 30px;
  top: 40px;
}
.box-special .text-special h1{
  margin-top: 10px;
}
/*end special sec*/

/*start links sec*/
.links{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  margin-left: 15px;
}
.product-container{
  padding-top: 10px;
  padding-bottom: 10px;
}
.links .product-container{
  flex-direction: column;
}
.links h1{
  font-weight: bold;
  font-style: 2rem;
}
.links .link{
  display: flex;
  margin-bottom: 70px;
}
.description-links{
  color: #7e7e7e;
  margin-bottom: 10px;
  position: relative;
}
.description-links::after{
  content: "";
  height:1px;
  width: 100%;
  background-color: #7e7e7e;
  opacity: .4;
  bottom: -15px;
  position: absolute;
  display: block;
}

.links .link li{
  margin-right:20px;
  background-color: #E8E8ED;
  padding:10px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 10px;
  text-align: center;
} 

.links .link li:hover{
  background-color: #eaeaef;
}

/*end links sec*/
/*start links2*/
 .links-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 }
 @media (max-width:767px) {
  .links-container{
 flex-direction: column;
   }
 }
 .links-container .refernce{
  position: relative;
 }

 .links-container .refernce .dropdown-content{
  height: 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: height 0.1s ease;
          transition: height 0.1s ease;
   }
 .links-container .refernce .dropdown-content.open{
  height: 100%;
 }
 @media (min-width:767px) {
  .links-container .refernce .dropdown-content{
      height: 100%;
     }
   .links-container .refernce .dropdown-content.open{
    height: 100%;
   }
 }
 @media (max-width:767px) {
  .links-container{
 flex-direction: column;
   }
   .links-container .refernce::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100vw;
    height: .5px;
    background-color:var(--main-color);
  }
 }
 .links-container .refernce .header{
  color:rgba(0 0 0 /.5);
  cursor: pointer;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 7px;
  font-weight: bold;
 }

 .links-container .refernce .header:hover{
  color:rgba(0 0 0 /.8);
 }
.links-container .refernce .dropdown-content li{
  color: #766E89;
  margin-bottom: 10px;
}

.compose{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
}
/*end links2*/