/*start variables*/
:root{
    --main-color: #CBCBCC;
    --main-transition:.4s;
    --main-padding:80px;
}
/*end variables
/* start globale rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
  a{
    display: block;
    color: var(--main-color);
  }
  body{
    background-color: #F5F5F7;
  }
html{
  scroll-behavior: smooth;
  font-size: .9rem;
  /* font-family: 'SF Pro Dispaly',sans-serif; */
}
  .container{
    padding-left:15px;
    padding-right:15px;  
    margin-left: auto;
    margin-right:auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
        width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      padding-left:25px;
      padding-right:25px;
      width: 970px;
    
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;

    }
  }
  
/*start with nav bar*/
header{
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color:rgba(0 0 0 /.8);
  backdrop-filter: blur(2rem);
  height: 50px;
  transition: height var(--main-transition);
}
header nav{
  max-height: 50px;
}
header .container nav .nav-list-mobile{
  display: none;
}
  header .container .nav .nav-list{
    color: var(--main-color);
    align-items: center;
    justify-content: space-between;
    margin: 0 -1px;
  }
  .nav-list-larger{
    display: flex;
   }
  .nav-item .nav-link-apple{
    color: #fff;
    font-size: 1.4rem;
  }
  .nav-item .nav-link {
    transition: color var(--main-transition);
  }

  .nav-item .nav-link:hover {
    color: #fff;
  }
  
  .nav-item .nav-link-bag{
    font-size: 1.2rem;
  }
 
 @media (max-width:767px) {
  header .container nav .nav-list-mobile{
    display: flex;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
    z-index: 1500;
  }
  .mobile-menu span{
    display: block;
    height: 1px;
    width: 1.5rem;
    background-color:#ccc;
    position: absolute;
  }
  .mobile-menu span:nth-child(1){
    margin-bottom:10px;
  }
  .mobile-menu span:nth-child(2){
    margin-bottom:-10px;
  }
  .active .line-top{
    margin-bottom: 0;
    transform: rotate(45deg) translate(3px,8px);
    transition: transform var(--main-transition);

  }
  .active .line-bottom{
    transform: rotate(-45deg) translate(-2px,-4px);
    transition: transform var(--main-transition);
  }
  header.active{
    height: 100vh;
    background-color: #000;
    transition: height var(--main-transition);
  }
  .active .nav-link-bag{
    opacity: 0;
  }
  .nav-list-larger .nav-link-apple{
    display: none;
  }
  .nav-list-larger .nav-link-bag{
    display: none;
  }
  header .container .nav .nav-list-larger{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10rem 2rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity var(--main-color);
  }
 .nav-list-larger .nav-item .nav-link{
    margin-bottom: 20px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 540;
  }
 
   .nav-list-larger .nav-item:not(:last-child) .nav-link::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: .5px;
    background-color: #444;
  }
  }
/*start contact*/
.contact{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.contact .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width:767px) {
  .contact .container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
}

.contact .container h1{
   margin-bottom: 25px;
    font-size: 4rem;
    font-weight: bold;
    color: #6E6E73;
    line-height: 1.1;
    min-width: 250px;
    max-width:700px;
    margin-top: 0;
}
@media (min-width:767px) {
  .contact .container h1{
    text-align: left;
  }
}
.contact .container h1 span{
    color: #000;
}
.contact .container .assistance{
   text-align: center;
min-width: 15rem;
}


.contact .container .assistance .assistance-help .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact .container .assistance .assistance-help .text h4{
 font-size: 1.2rem;
 font-weight: 550;
 margin-bottom: 2px;
}
.contact .container .assistance .assistance-help .text a{
  color: #0066CC;
  font-size: 1.35rem;
  cursor: pointer;
}
.contact .container .assistance .assistance-help .text a span{
  color: #0066CC;
  font-size: 1rem;
}
.contact .container .assistance .assistance-help{
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
 }

.contact .container .assistance .assistance-help img,
.contact .container .assistance .assistance-store img{
  width: 25px;
  border-radius: 50%;
  object-fit:cover;
  margin-right: 15px;
  position: relative;
  top: -2px;
}
/*end contact*/
/*start products sec3*/
.Carousel {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  
}
.Carousel .arrow{
  position: absolute;
  z-index: 500;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  background-color:rgba(0 0 0 /.4);
  color:#fff;
  font-size: 1.8rem;
  cursor: pointer;
  transition: scale var(--main-transition);
}

.Carousel .left{
  left: 20px;
  display: none;
}

.Carousel .right{
  right: 20px;
}




.Carousel .product-container{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding-left: 220px;
  scroll-behavior: smooth;
  transition: scroll var(--main-transition);
}



@media (max-width: 1300px) {
  .Carousel .product-container{
    padding-left: 57px;
  }
}
@media (max-width: 992px) {
  .Carousel .product-container{
    padding-left: 80px;
  }
}
@media (max-width: 767px) {
  .Carousel .product-container{
    padding-left: 5px;
  }
}
.Carousel .product-container::-webkit-scrollbar{
  display: none;
}
.Carousel .product-container .product{
 min-width: 120px;
 height: 150px;
  aspect-ratio: 1/1;
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .Carousel .product-container .product{
    min-width: 100px;
    margin: 0 5px;
  }
}

/* .Carousel .product-container .product:hover .Carousel .arrow{
  display: flex;
 } */

.Carousel .product-container .product img{
  width: 80%;
  height: 70%;
}


.product-container .product a{
 font-size: 1.2rem;
 font-weight: bold;
 color: rgba(0 0 0 /.9);
 text-align: center;
 margin-top: 20px;
 
} 












